thead td{
    background-color: white;
    padding: 3px 7px;
    font-weight: 600;
}

tbody td{
    background-color: white;
    padding: 10px 10px;
}

tbody .data:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}
tbody .data:nth-child(3){
    border-radius: 0px 10px 10px 0px;
}

tbody .NoData{
    border-radius: 10px;
    font-weight: 600;
}
