form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input[type=text] {
    border: none;
    padding: 10px;
}

form input[type=text]:focus{
    outline: none;
}

form img{
    height: 20px;
}

.SearchBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-left: 10px;
    border-radius: 0.5rem;
    background-color: white;
    margin: 7px 0px;
    outline: none;
}